@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.loadership_MPURR {
  display: flex;
  position: relative;
  width: 46px;
  height: 60px;
}

.loadership_MPURR div {
  position: absolute;
  width: 6px;
  height: 20px;
  background: #c3556f;
  top: 20px;
  animation: loadership_MPURR_scale 1.8s infinite,
    loadership_MPURR_fade 1.8s infinite;
  animation-timing-function: ease-in-out;
}

.loadership_MPURR div:nth-child(1) {
  animation-delay: 0s;
  left: 0px;
}
.loadership_MPURR div:nth-child(2) {
  animation-delay: 0.16s;
  left: 10px;
}
.loadership_MPURR div:nth-child(3) {
  animation-delay: 0.32s;
  left: 20px;
}
.loadership_MPURR div:nth-child(4) {
  animation-delay: 0.48s;
  left: 30px;
}
.loadership_MPURR div:nth-child(5) {
  animation-delay: 0.64s;
  left: 40px;
}

@keyframes loadership_MPURR_scale {
  0%,
  44.44444444444445%,
  100% {
    transform: scaleY(1);
  }
  22.222222222222225% {
    transform: scaleY(3);
  }
}

@keyframes loadership_MPURR_fade {
  0%,
  44.44444444444445%,
  100% {
    opacity: 1;
  }
  22.222222222222225% {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 10px;
}



/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius:0 1rem 1rem 0;
  border-radius: 0 5rem 5rem 0;
  background: #853D53;
}